<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
        <title>
            <%- titreSite %> - <%- titrePage %>
        </title>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <% if (messages) { %>
        <p>
            <%= messages.error %>
        </p>
        <% } %>
        <div class="containerConnexion1">
                <form  action="/inscription" method="POST">
                    <h1>Inscription</h1>
                    <input type="firstname" name="firstname" placeholder="¨Prénom" id="champ1" onkeyup="verifierChamps()" />
                    <br>
                    <input type="lastname" name="lastname" placeholder="Nom" id="champ4" onkeyup="verifierChamps()" />
                    <br>
                    <input type="email" name="email" placeholder="Adresse courriel" onkeyup="verifierChamps()"
                        id="champ2" />
                        <br>
                        <input type="password" name="password" placeholder="Mot de passe" onkeyup="verifierChamps()"
                        id="champ3" />
                    <button id="submit" disabled>Inscription</button>
                </form>

            </div>

            <script>
                function verifierChamps() {
                    if (champ1.value.length > 0 && champ2.value.length > 0 && champ3.value.length > 0 && champ4.value.length > 0) {
                        document.getElementById('button').disabled = false;
                    } else {
                        document.getElementById('button').disabled = true;
                    }
                }
            </script>
</body>

</html>
