<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
        <title>
            <%- titreSite %> - <%- titrePage %>
        </title>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>




    <% if (rdv !==undefined && rdv.length>0) {%>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:20%">Nom du client</th>
                    <th style="width:20%">Docteur Responsable</th>
                    <th style="width:30%">Type d'examen</th>
                    <th style="width:30%">Action</th>
                </tr>
            </thead>
            <tbody>

                <% rdv.forEach(function(rd,index){ %>
                    <tr>
                        <td style="width:20%">
                            caca
                        </td>

                        <td style="width:20%">
                            <%= rd.first_name + " " + rd.last_name%>
                        </td>
                        <td style="width:30%">
                            <%= rd.type %>
                        </td>
                        
                        <td style="width:30%">
                            <a href="/rdv/confirm/<%=rd._id%>" class="btn btn-success">Edit </a>
                            <a href="/rdv/refuse/<%=rd._id%>" class="btn btn-danger">Delete </a>
                        </td>
                        
                    </tr>
                    <%}); %>
            </tbody>
        </table>
        <% }else {%>
            <p><strong> Aucun rendez-vous </strong></p>
            <% } %>


    




</body>