<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
        <link rel="stylesheet" href="rdv.css" />
</header>

<body>
    <section class="main">
        <div class="container">
            <form name="pay" action="payment" method="POST" class="form-container">

                <div>
                    <p class="title">
                        Rendez-vous pour :
                        <%=serv.nom %>
                    </p>
                </div>
                <div class="separator"></div>

                <div class="form-control">
                    <label for="rendezvous ">Sélectionnner votre médecin : </label>
                    <select id="nom_doc" name="nom_doc">
                        <% ListDocteur.forEach(function(item,index){%>
                            <option value="<%=item.id %>">
                                <%= item.last_name %>
                                    <%= item.first_name %>
                            </option>
                            <%}); %>
                    </select>
                </div>

                <div class="form-control">
                    <label for="start">Choisissez une date : </label>
                    <input type="date" id="start" name="tripstart" value="2022-05-11" max="2030-01-01" min="2022-05-11">
                </div>
                <div class="form-control">
                    <label for="time">Choisissez l'heure : </label>
                    <input type="time" id="time" name="time" value="08:00" min="08:00" max="19:00" step="3600" required>
                </div>
                <div class="form-control">

                    <input type="text" name="prix" id="prix" hidden value="<%=serv.prix %>" />
                </div>
                <class class="form-control">
                    <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%= key %>"
                        data-amount="<%= serv.prix*100 %>" data-currency="CAD" data-name="Paiement"
                        data-description="Ever After Care" data-locale="auto">
                        </script>
                </class>

            </form>
        </div>

    </section>



    <script>
        function masquer_div(id) {
            if (document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = 'block';
            } else {
                document.getElementById(id).style.display = 'none';
            }
        }
    </script>

</body>

<%- include('./partials/footer'); %>