<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <link rel="stylesheet" href="services.css" />
    <div class="service">
        <% ListServices.forEach(function(item,index){%>

            <form  action="/services" method="POST">
            <p>
                <%=item.nom %>
            </p>
            
            <p>
                <%=item.description %> <br> Prix:
                    <%=item.prix %>
            </p>

            <input type="text" name="prix" id="prix" hidden value="<%=item.prix %>" />
            

                    <button submit>Prendre Un RDV</button>
                </form>
            <%}); %>


    </div>

</body>