<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
    <link rel="stylesheet" href="services.css" />

</header>

<body>
    <div class="service" method="POST">
        <% ListServices.forEach(function(item,index){%>

            <form action="/services" method="POST">
                <p>
                    <%=item.nom %>
                </p>

                <p>
                    <%=item.description %>
                </p>
                <p name="prix_service">
                    <%=item.prix %>
                </p>

                <input type="text" name="prix" id="prix" hidden value="<%=item._id %>" />


                <button submit>Prendre Un RDV</button>
            </form>


            <% }); %>

    </div>

</body>