<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <link rel="stylesheet" href="services.css" />
    <% ListServices.forEach(function(item,index){%>

        <div class="service">
            <h1>
                <%=item.nom %>
            </h1>

            <p>
                <%=item.description %> <br> Prix:
                    <%=item.prix %>
            </p>
            <a href="/rendezvous" id=" buttonrdv ">
                <input type="button" value="Prendre un RDV" /> </a>
            <%}); %>


        </div>

</body>